ion-label{
    color: #000;
}

.full-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.frame
{
    box-sizing: border-box;
    border-radius: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 95%;
    //border: solid #00a6fb 15px;
    border: solid var(--ion-color-secondary) 15px;


    ion-label{
        font-size: 4rem;
    }
}

img{
    max-width: 80%;
}


.btn-group{
    width: 95%;
    height: 40%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: var(--ion-color-secondary);
    border-radius: 65px;

    ion-button{
        width: 95%;
        height: 30%;
        margin: 0px;
        padding: 0px;
        --border-radius: 65px;

        ion-label{
            font-size: 3rem;
        }
    }
}

