<app-header title="HOLA"></app-header>

<ion-tabs>
  <ion-tab-bar color="secondary" slot="bottom">
    <ion-tab-button tab="home">
      <!-- 
      <img src="../../../assets/icons/takePhotoIcon.png">
      -->  
      <ion-icon color="primary" name="camera"></ion-icon>
      <ion-label color="primary">Sacar foto</ion-label> 
    </ion-tab-button>

    <ion-tab-button tab="radio">
      <ion-icon color="primary" name="list"></ion-icon>
      <ion-label color="primary">Fotos</ion-label> 
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon color="primary" name="stats-chart"></ion-icon>
      <ion-label color="primary">Estadisticas</ion-label> 
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>