<app-header></app-header>

<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="this.utilsService.changeRoute('/principal-menu')">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="screen">
    @if(this.showGraph)
    {
      @if(this.prettyUglyService.IsPretty)
      {
        <app-pie-chart [prettyPhotos]="this.photosDataToShow" [view]="this.view"></app-pie-chart>
      }
      @else {
        <app-bar-chart [uglyPhotos]="this.photosDataToShow" [view]="this.view"></app-bar-chart>
      }
    }

  </div>
</ion-content>
