<ion-content [fullscreen]="true">
  <section class="splashScreen">
    <header [ngClass]="this.headerClass">
      <h1 class="primaryColor ">Thiago</h1><h1 class="secondaryColor"> Porfirio</h1>
    </header>

    <section class="iconContainer vibrate-3">
      <img class="imgIcon" src="../../../../../assets/splash/MyBuilding_NoBack.png">
    </section>
    
    <footer [ngClass]="this.footerClass">
      <h2 class="secondaryColor">4to</h2><h2 class="primaryColor"> A</h2>
    </footer>
  </section>
</ion-content>
