<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col><ion-title class="tittle ion-text-center">{{this.title}}</ion-title></ion-col>
        <!--<ion-col size="4"><ion-button>Click me</ion-button></ion-col>-->
      </ion-row>
    </ion-grid>

    <!-- 
      <ion-title class="title">{{this.title}}</ion-title>
      @if(this.authService.isLogued) 
      {
        <ion-button class="exit-btn" shape="round" slot="end" (click)="this.signOut()">
          Cerrar sesion
        </ion-button>
      }
    -->
  </ion-toolbar>
</ion-header>