img{
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

ion-label{
    display: flex;
    background-color: white;
    width: 100%;
    font-size: 2rem;
    justify-content: center;
    color: #000;
}

ion-button{
    width: 100%;
    height: 10%;
    padding: 0px;
    margin: 0px;
}


.imgList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dataFrame
{
    width: 100%;
    //height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-width: 6%;
    border: solid;
    border-color: black;
}

.imgFrame{
    //height: 85%;
    //width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    //align-items: center;
    //justify-content: center;
}

.metadataFrame
{
    width: 100%;
    height: 10%;
    background-color: red;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

.buttonFrame
{
    width: 100%;
}