<app-header></app-header>

<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="this.utilsService.changeRoute('/principal-menu')">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="imgList">
    
    @for (photo of this.photos; track photo.id) 
    {
      <div class="dataFrame">
        <ion-label>{{photo.ownerUserName}}</ion-label>

        <div class="imgFrame">
          <img [src]="photo.url">
        </div>
          
        <ion-label>{{photo.originDate.toDate().getHours()}}:{{photo.originDate.toDate().getMinutes()}} 
          {{photo.originDate.toDate().getDate()}} / 
          {{photo.originDate.toDate().getMonth()}} / 
          {{photo.originDate.toDate().getFullYear()}}</ion-label>

        <!--
                  <ion-label>{{photo.originDate.toDate().getDate()}} / {{photo.originDate.toDate().getMonth()}} / {{photo.originDate.toDate().getFullYear()}}</ion-label>

        -->
        
        <ion-button expand="full" (click)="this.darLike(photo)" [color]="this.prettyUglyService.IsPretty ? 'success' : 'danger'" [disabled]="photo.currentUserLike">
          <ion-icon name='thumbs-up-sharp'></ion-icon>
        </ion-button>
      </div>
    }
  </div>

</ion-content>
