ion-button{
    height: 50%;
    margin: 0px
}

img{
    max-width: 80%;
}

ion-label{
    font-size: 3rem;
    color: #000;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

