ion-item {
    --border-color: #000000;
    --border-width: 1px;
    --border-radius: 20px;
    --background: var(--ion-color-primary);
    margin-bottom: 3%;
    margin-top: 10%;
}

ion-input{
    --color:var(--ion-color-secondary);
    font-size: 24px;
    font-family: var(--font-oficial);
   // --ion-margin-bottom: 50px #F2FF20;
}

ion-note {
    color: #c5000f;
    margin-top: 10%;
    margin-left: 10%;
    //font-size: 12px;
}

.iconEye
{
    font-size: 225%;
}

.iconColor{
    color: var(--ion-color-secondary);
}

.logBtn{
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-primary);
    font-size: 24px;
    margin-top: 10%  ;
}
