$principalColor: #03BB85;

ion-item {
    --border-color: #000000;
    --border-width: 1px;
    --border-radius: 20px;
    --background: #03BB85;
    margin-bottom: 3%;
    margin-top: 10%;
}

ion-input{
    --color:#000000;
    font-size: 24px;
   // --ion-margin-bottom: 50px #F2FF20;
}

ion-note {
    color: #c5000f;
    margin-top: 10%;
    margin-left: 10%;
    //font-size: 12px;
}

.iconEye
{
    font-size: 225%;
}

.iconColor{
    color: #FAA307;
}

.logBtn{
    --background: #FAA307;
    --color:#000000;
    font-size: 24px;
    margin-top: 10%  ;
}
